body {
  font-family: 'Inter', sans-serif;
  /* The layout component now handles the background for the content area */
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #0d6efd;
  background-color: #0d6efd;
}
