body {
  font-family: 'Inter', sans-serif;
  background-color: #f8f9fa;
}

#root, .container-fluid, .row {
  min-height: 100vh;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #0d6efd;
}

.p-0 {
  padding: 0 !important;
}